blue = #475cd1
red = #be2525

border-radius(r = 5px)
  -webkit-border-radius r
  border-radius r

cf()
  zoom 1
  &:after
  &:before
    content ""
    display table
  &:after
    clear both

body
  background blue
  color reds
  border solid 1px @color
  main
    color blue
    border solid 1px @color
    border-radius 20px
    cf()